<footer th:fragments="footer" class="footer text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mb-4">
						<h5>About ConstructPro</h5>
						<p>Delivering innovative construction and architecture
							solutions since 2000.</p>
					</div>
					<div class="col-lg-4 mb-4">
						<h5>Quick Links</h5>
						<a href="#home">Home</a> | <a href="#about">About</a> | <a
							href="#services">Services</a> | <a href="#projects">Projects</a>
						| <a href="#contact">Contact</a>
					</div>
					<div class="col-lg-4 mb-4">
						<h5>Follow Us</h5>
						<a href="#"><i class="fa-brands fa-facebook-f"></i></a> <a
							href="#"><i class="fa-brands fa-twitter"></i></a> <a href="#"><i
							class="fa-brands fa-instagram"></i></a> <a href="#"><i
							class="fa-brands fa-linkedin"></i></a>
					</div>
				</div>
				<p class="mt-4">© 2025 ConstructPro. All rights reserved.</p>
			</div>
		</footer>